<h1 mat-dialog-title class="text-center">Collaborators</h1>
<div mat-dialog-content class="d-flex justify-content-center align-items-center flex-column">
    <mat-chip-row *ngFor="let col of collaborators" class="mx-2 mt-1" (removed)="removeCollaborator(col)">
        <h5 class="m-0">{{ col }}</h5>
        <button matChipRemove [attr.aria-label]="'remove collaborator'">
            <mat-icon>cancel</mat-icon>
        </button>
    </mat-chip-row>
    <input class="mt-2 border border-primary rounded w-75" mat-input list="users" type="text"
        placeholder="Search collaborators" [(ngModel)]="searchTerm" (keyup)="filterCollaborators()"
        (keyup.enter)="addCollaborator(searchTerm)" />
    <datalist id="users">
        <option *ngFor="let email of filteredUsers" [value]="email" (click)="addCollaborator(email)">
            {{ email }}
        </option>
    </datalist>
</div>
<div mat-dialog-actions class="d-flex justify-content-center">
    <button mat-button mat-dialog-close (click)="onClose()">Save</button>
</div>
