<h1 mat-dialog-title class="collab-header d-flex align-items-center m-0 p-0 pt-2 px-2">Collaborators</h1>
<hr>
<div class="mx-2 d-flex align-items-center flex-column">
    <!-- <mat-chip-row *ngFor="let col of collaborators" class="mx-2 mt-1" (removed)="removeCollaborator(col)">
        <h5 class="m-0">{{ col }}</h5>
        <button matChipRemove [attr.aria-label]="'remove collaborator'">
            <mat-icon>cancel</mat-icon>
        </button>
    </mat-chip-row> -->
    <div *ngFor="let col of collaborators" class="w-100 d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center gap-1">
            <span class="material-symbols-outlined" style="font-size: 20px;">account_circle</span>
            <h3 class="m-0">{{ col }}</h3>
        </div>
        <button class="btn border-0 bg-none" [attr.aria-label]="'remove collaborator'"
            (click)="removeCollaborator(col)">
            <span class="material-symbols-outlined" style="font-size: 15px;">close</span>
        </button>
    </div>
    <input class="mt-2 border-0 rounded w-100" mat-input list="users" type="text" placeholder="Search collaborators"
        [(ngModel)]="searchTerm" (keyup)="filterCollaborators()" (keyup.enter)="addCollaborator(searchTerm)" />
    <datalist id="users">
        <option *ngFor="let email of filteredUsers" [value]="email" (click)="addCollaborator(email)">
            {{ email }}
        </option>
    </datalist>
</div>
<span *ngIf="showWarning" class="text-danger mx-2">Email already exists!</span>
<div mat-dialog-actions class="mt-3 d-flex justify-content-end bg-light">
    <button mat-button mat-dialog-close (click)="onClose()">Save</button>
</div>
