<h2 class="text-center">Labels</h2>
<mat-dialog-actions class="d-flex flex-column justify-content-start">
    <div *ngFor="let label of getLabels()">
        <mat-checkbox (change)="isChecked($event, label.title)" [value]="label.title">{{ label.title }}</mat-checkbox>
    </div>
    <div mat-dialog-actions class="d-flex justify-content-end">
        <button mat-button mat-dialog-close (click)="onSave()" class="btn btn-outline-secondary">
            Save
        </button>
    </div>
</mat-dialog-actions>
