<div class="header">
    <mat-toolbar class="border border-1 align-items-center d-flex justify-content-between p-0">
        <div class="logo-div d-flex align-items-center">
            <div class="rounded-circle div-hover" (click)="triggerToggleService()">
                <span class="material-symbols-outlined" style="font-size: 26px;">menu</span>
            </div>
            <div style="width: 10rem;">
                <svg width="50px" height="40px" viewBox="-48 0 352 352" version="1.1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" fill="#000000">
                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                    <g id="SVGRepo_iconCarrier">
                        <g>
                            <path
                                d="M232,352 L24,352 C10.72,352 0,341.28 0,328 L0,24 C0,10.72 10.72,0 24,0 L168,0 L256,88 L256,328 C256,341.28 245.28,352 232,352 Z"
                                fill="#FFBA00"> </path>
                            <polygon fill="#FF9500" points="168 0 256 88 168 88"> </polygon>
                            <path
                                d="M156,236 L156,256 L100,256 L100,236 L156,236 Z M127.92,120.001 L128.69995,120.006966 C157.023272,120.466144 179.84,143.5672 179.84,172 C179.84,190.56 170.12,206.8 155.52,216 L155.52,216 L100.32,216 C85.68,206.8 76,190.56 76,172 C76,143.28 99.28,120 128,120 L127.92,120.001 Z"
                                fill="#FFFFFF"> </path>
                        </g>
                    </g>
                </svg>
                <span>{{ activeTab.charAt(0).toUpperCase() + activeTab.slice(1)}}</span>
            </div>
        </div>
        <div class="w-50 search d-flex align-items-center">
            <div class="mx-2 mt-1"><span class="material-symbols-outlined" style="font-size: 20px;">search</span></div>
            <input class="w-100 border-0 h6 m-0 p-0" matInput type="search" placeholder="Search" (input)="searchNote()"
                [(ngModel)]="searchInput">
        </div>
        <div class="d-flex gap-2 align-items-center">
            <div class="rounded-circle div-hover" (click)="refreshNotes($event)">
                <span class="material-symbols-outlined" style="font-size: 24px;" #refreshBtn>refresh</span>
            </div>
            <div class="rounded-circle div-hover">
                <span class="material-symbols-outlined" style="font-size: 24px;">splitscreen</span>
            </div>
            <div class="rounded-circle div-hover">
                <span class="material-symbols-outlined" style="font-size: 24px;">settings</span>
            </div>
            <div class="rounded-circle div-hover" [matMenuTriggerFor]="profile">
                <!-- <span class="material-symbols-outlined" style="font-size: 24px;">account_circle</span> -->
                <div class="border-1 w-75 h-75 d-flex justify-content-center align-items-center border-secondary rounded-circle"
                    [style.background]="accountColor">
                    <span class="text-white" style="font-size: 20px;">{{
                        loggrdInUser.split('')[0].toUpperCase()}}</span>
                </div>
                <mat-menu #profile="matMenu">
                    <h5 class="text-center">{{ loggrdInUser }}</h5>
                    <button class="d-flex w-100 btn btn-light justify-content-center align-items-center h-50"
                        (click)="logout()">
                        <h5 class="m-0 p-0">Logout</h5>
                    </button>
                </mat-menu>
            </div>
        </div>
    </mat-toolbar>
</div>
