<div>
    <div class="position-relative">
        <img *ngIf="data.image != null" [src]="'assets/'+ data.image" alt="" class="w-100 h-100 img-fluid">
        <mat-icon *ngIf="data.image != null" class="position-absolute end-0 bottom-0 m-2" style="cursor: pointer;"
            (click)="data.image=null">delete</mat-icon>
    </div>
    <input mat-dialog-title class="m-0 p-2 border border-0 w-100" placeholder="Title" [value]="data.title" #title>
    <textarea mat-dialog-content class="m-0 p-2 border border-0 w-100 mt-2 text-dark" placeholder="note"
        [value]="data.description" #description></textarea>
    <div mat-dialog-actions class="d-flex justify-content-end">
        <!-- <app-note-options></app-note-options> -->
        <button mat-button mat-dialog-close (click)="updateNote(title.value, description.value)">Save</button>
    </div>
</div>
