<div class="d-flex justify-content-between">
    <div>
        <button mat-icon-button [matMenuTriggerFor]="reminder" aria-label="reminder" (click)="setNoteId()">
            <mat-icon>notifications_none</mat-icon>
        </button>
        <mat-menu #reminder="matMenu">
            <h5 class="px-3">Reminder:</h5>
            <div style="width: 15rem;" (click)="setReminderForToday('today')">
                <button class="d-flex w-100 btn btn-light justify-content-between align-items-center h-50">
                    <h5 class="m-0 p-0">Later Today</h5>
                    <h5 class="m-0 p-0">8:00PM</h5>
                </button>
            </div>
            <div style="width: 15rem;" (click)="setReminderForToday('tomorrow')">
                <button class="d-flex w-100 btn btn-light justify-content-between align-items-center h-50">
                    <h5 class="m-0 p-0">Tomorrow</h5>
                    <h5 class="m-0 p-0">8:00AM</h5>
                </button>
            </div>
            <div style="width: 15rem;" (click)="setReminderForToday('nextMonday')">
                <button class="d-flex w-100 btn btn-light justify-content-between align-items-center h-50">
                    <h5 class="m-0 p-0">Next Week</h5>
                    <h5 class="m-0 p-0">Mon,8:00AM</h5>
                </button>
            </div>
            <div style="width: 15rem;">
                <button (click)="openDialog()" #menuTrigger
                    class="d-flex w-100 btn btn-light justify-content-between align-items-center h-50">
                    <h5 class="m-0 p-0">Pick Date & Time</h5>
                </button>
            </div>
        </mat-menu>
    </div>
    <div>
        <button mat-icon-button aria-label="menu" (click)="showCollaborators()" (click)="setNoteId()">
            <mat-icon>person_add</mat-icon>
        </button>
    </div>
    <div>
        <button mat-icon-button aria-label="palette">
            <mat-icon>palette</mat-icon>
        </button>
        <!-- <mat-menu #palette="matMenu">
            [matMenuTriggerFor]="palette"
        </mat-menu> -->
    </div>
    <div>
        <input type="file" #fileInput (change)="onFileSelected($event)" style="display: none;" />
        <button mat-icon-button aria-label="image" (click)="fileInput.click()">
            <mat-icon>image</mat-icon>
        </button>

    </div>
    <div>
        <button mat-icon-button aria-label="archive" (click)="addNoteToArchive()">
            <mat-icon>archive</mat-icon>
        </button>
    </div>
    <div>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <div style="width: 8rem;">
                <button class="d-flex w-100 btn btn-light justify-content-between align-items-center h-50"
                    (click)="deleteNote()">
                    <h5 class="m-0 p-0">Delete Note</h5>
                </button>
            </div>
            <div style="width: 8rem;">
                <button class="d-flex w-100 btn btn-light justify-content-between align-items-center h-50"
                    (click)="openLabelDialog()" (click)="setNoteId()">
                    <h5 class="m-0 p-0">Add Label</h5>
                </button>
            </div>
        </mat-menu>
    </div>
</div>
