<div class="d-flex justify-content-between">
    <div>
        <button mat-icon-button [matMenuTriggerFor]="reminder" aria-label="reminder" (click)="showId()">
            <mat-icon>notifications_none</mat-icon>
        </button>
        <mat-menu #reminder="matMenu">
            <h5 class="px-3">Reminder:</h5>
            <div style="width: 15rem;">
                <button class="d-flex w-100 btn btn-light justify-content-between align-items-center h-50">
                    <h5 class="m-0 p-0">Later Today</h5>
                    <h5 class="m-0 p-0">8:00PM</h5>
                </button>
            </div>
            <div style="width: 15rem;">
                <button class="d-flex w-100 btn btn-light justify-content-between align-items-center h-50">
                    <h5 class="m-0 p-0">Tomorrow</h5>
                    <h5 class="m-0 p-0">8:00AM</h5>
                </button>
            </div>
            <div style="width: 15rem;">
                <button class="d-flex w-100 btn btn-light justify-content-between align-items-center h-50">
                    <h5 class="m-0 p-0">Next Week</h5>
                    <h5 class="m-0 p-0">Mon,8:00AM</h5>
                </button>
            </div>
            <div style="width: 15rem;">
                <button (click)="openDialog()" #menuTrigger
                    class="d-flex w-100 btn btn-light justify-content-between align-items-center h-50">
                    <h5 class="m-0 p-0">Pick Date & Time</h5>
                </button>
            </div>
        </mat-menu>
    </div>
    <div>
        <button mat-icon-button aria-label="menu">
            <mat-icon>person_add</mat-icon>
        </button>
    </div>
    <div>
        <button mat-icon-button [matMenuTriggerFor]="palette" aria-label="palette">
            <mat-icon>palette</mat-icon>
        </button>
        <mat-menu #palette="matMenu">
        </mat-menu>
    </div>
    <div>
        <button mat-icon-button aria-label="image">
            <mat-icon>image</mat-icon>
        </button>

    </div>
    <div>
        <button mat-icon-button aria-label="archive" (click)="addNoteToArchive()">
            <mat-icon>archive</mat-icon>
        </button>
    </div>
    <div>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
        </mat-menu>
    </div>
</div>
