.note-list{
    overflow-y: scroll;
    max-height: 33rem;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

.div-hover{
    height: 20px;
    width: 20px;
}

mat-icon{
    font-size: 15px;
}

.show-options{
    visibility: visible !important;
}
