<app-note-expansion-panel class="w-100 d-flex justify-content-center"
    *ngIf="['notes', 'reminder'].includes(tabs)"></app-note-expansion-panel>
<div class="container-fluid note-list mt-3 p-0">
    <div class="row d-flex">
        <div class="col-lg-3 col-md-6 col-sm-12" *ngFor="let note of getNoteList()">
            <div class="card mb-1 note-card" style="width: 15rem;" (mouseenter)="showOptions(note.id)"
                (mouseleave)="hideOptions()">
                <div class="card-body p-0 m-0">
                    <div (click)="updateNoteDialog(note)" class="px-2 mx-1">
                        <img *ngIf="note.image != null" [src]="imageUrl+note.image" alt="" class="w-100">
                        <h4 class="card-title my-2">{{ note.title }}</h4>
                        <p class="card-text">{{ note.description }}</p>
                    </div>
                    <mat-chip-row *ngIf="note.remainder != null" class="mx-2 mt-1" (removed)="removeReminder(note.id)">
                        <h5 class="m-0">{{ note.remainder | date: 'medium' }}</h5>
                        <button matChipRemove [attr.aria-label]="'remove reminder'">
                            <mat-icon>cancel</mat-icon>
                        </button>
                    </mat-chip-row>
                    <mat-chip-row *ngFor="let col of note.collaborator" class="mt-1 mx-2"
                        (removed)="removeCollaborator(note.id, col)">
                        <h5 class="m-0">{{ col }}</h5>
                        <button matChipRemove [attr.aria-label]="'remove collaborator'">
                            <mat-icon>cancel</mat-icon>
                        </button>
                    </mat-chip-row>
                    <mat-chip-row *ngFor="let label of note.label" class="mt-1 mx-2"
                        (removed)="removeLabel(note.id, label)">
                        <h5 class="m-0">{{ label }}</h5>
                        <button matChipRemove [attr.aria-label]="'remove label'">
                            <mat-icon>cancel</mat-icon>
                        </button>
                    </mat-chip-row>
                    <div class="d-flex justify-content-between invisible"
                        [ngClass]="{'show-options': showNoteOptions === note.id}" *ngIf="tabs != 'trash'">
                        <app-note-options [noteId]="note.id" [fromComp]="tabs" [collaborator]="note.collaborator"
                            [labels]="note.label" (noteImage)="getImageData($event)"></app-note-options>
                    </div>
                    <div class="d-flex justify-content-between my-2 px-2 invisible"
                        [ngClass]="{'show-options': showNoteOptions === note.id}" *ngIf="tabs === 'trash'">
                        <button class="bg-none border-0 btn btn-sm" aria-label="restore">
                            <span class="material-symbols-outlined" style="font-size: 19px;"
                                (click)="restoreNote(note.id)">restore_from_trash</span>
                        </button>
                        <button class="bg-none border-0 btn btn-sm" aria-label="delete">
                            <span class="material-symbols-outlined" style="font-size: 19px;"
                                (click)="deleteNote(note.id)">delete_forever</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
