<app-note-expansion-panel class="w-100 d-flex justify-content-center"></app-note-expansion-panel>
<div class="container note-list mt-3">
    <div class="row d-flex gap-3">
        <div class="col" *ngFor="let note of getNoteList()">
            <div class="card" style="width: 20rem;" (mouseenter)="showOptions()" (mouseleave)="hideOptions()">
                <div class="card-body">
                    <h4 class="card-title">{{ note.title }}</h4>
                    <p class="card-text">{{ note.description }}</p>
                    <mat-chip-row *ngIf="note.remainder != null" class="mt-1">
                        <p class="m-0">{{ note.remainder }}</p>
                        <button matChipRemove [attr.aria-label]="'remove reminder '">
                            <mat-icon>cancel</mat-icon>
                        </button>
                    </mat-chip-row>
                    <div class="d-flex justify-content-between" [ngClass]="{'show-options': !showNoteOptions}">
                        <app-note-options [noteId]="note.id"></app-note-options>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
