.note-list{
    overflow-y: scroll;
    max-height: 33rem;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

.div-hover{
    height: 20px;
    width: 20px;
}

mat-icon{
    font-size: 15px;
}

.show-options{
    visibility: visible !important;
    transition: opacity 1s ease-in-out !important;
}

.note-card{
    transition: box-shadow 0.3s;
}

.note-card:hover {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2); /* Apply shadow on hover */
  }
