<mat-drawer-container class="" autosize hasBackdrop="false">
    <mat-drawer #sideNav class="" mode="side" opened="true">
        <div class="d-flex px-1">
            <div>
                <div class="mt-2 div-hover rounded-circle" [routerLink]="'./'" routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }" (click)="activeTab.emit('Keep')">
                    <span class="material-symbols-outlined" style="font-size: 24px;">lightbulb</span>
                </div>
                <div class="div-hover rounded-circle" [routerLink]="'./reminder'" routerLinkActive="active"
                    (click)="activeTab.emit('Reminder')">
                    <span class="material-symbols-outlined" style="font-size: 24px;">notifications</span>
                </div>

                <div class="div-hover rounded-circle" (click)="openLabelDialog()">
                    <span class="material-symbols-outlined" style="font-size: 24px;">edit</span>
                </div>
                <div class="div-hover rounded-circle" [routerLink]="'./archive'" routerLinkActive="active"
                    (click)="activeTab.emit('Archive')">
                    <span class="material-symbols-outlined" style="font-size: 24px;">archive</span>
                </div>
                <div class="div-hover rounded-circle" [routerLink]="'./trash'" routerLinkActive="active"
                    (click)="activeTab.emit('Trash')">
                    <span class="material-symbols-outlined" style="font-size: 24px;">delete</span>
                </div>
            </div>
            <div *ngIf="getBooleanService() || isSideNavOpen">
                <div class="h-100">
                    <mat-nav-list class="d-flex flex-column sideBar-label">
                        <a mat-list-item>Notes</a>
                        <a mat-list-item>Reminders</a>
                        <a mat-list-item>Edit labels</a>
                        <a mat-list-item>Archive</a>
                        <a mat-list-item>Trash</a>
                    </mat-nav-list>
                </div>
            </div>

        </div>
    </mat-drawer>

    <div class="container d-flex flex-column mt-2">
        <!-- <ng-container #dynamicContent></ng-container> -->
        <router-outlet></router-outlet>
    </div>
</mat-drawer-container>
