mat-drawer-container{
    height: 90vh;
}

mat-drawer{
    padding-left: 10px;
}

.sideBar-label{
    margin-top: 2px;
}

a{
    width: 12rem;
    border-radius: 10px 10px 10px 10px;
}

.active{
    background-color: #FEEFC3;
}

.div-hover{
    height: 48px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div-hover:hover{
    background-color: #F1F3F4;
    cursor: pointer;
}

