<form class="w-50 mt-3" [formGroup]="noteForm">
    <mat-expansion-panel hideToggle id="note-expansion-panel" #panel (click)="expandPanel($event)">
        <mat-expansion-panel-header class="d-flex justify-content-between p-0">
            <mat-panel-title class="">
                <input matInput class="bg-transparent border border-0 px-3" type="text" [placeholder]="inputPlaceHolder"
                    formControlName="title">
            </mat-panel-title>
            <mat-panel-description class="d-flex justify-content-end p-0 m-0 nei">
                <div class="div-hover rounded-circle">
                    <button mat-icon-button aria-label="menu">
                        <mat-icon>check_box</mat-icon>
                    </button>
                </div>
                <div class="div-hover rounded-circle">
                    <button mat-icon-button aria-label="menu">
                        <mat-icon>brush</mat-icon>
                    </button>
                </div>
                <div class="div-hover rounded-circle">
                    <button mat-icon-button aria-label="menu">
                        <mat-icon>image</mat-icon>
                    </button>
                </div>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="p-0 position-relative" style="left: -10px;">
            <input matInput class="bg-transparent border border-0 w-100" type="text" placeholder="Take a note..."
                formControlName="description">
            <mat-chip-row *ngIf="getReminderDate() != null" class="mt-1">
                <p class="m-0">{{ getReminderDate() }}</p>
                <button matChipRemove [attr.aria-label]="'remove reminder '">
                    <mat-icon (click)="removeReminder()">cancel</mat-icon>
                </button>
            </mat-chip-row>
            <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex justify-content-between">
                    <app-note-options></app-note-options>
                    <div>
                        <button mat-icon-button aria-label="menu">
                            <mat-icon>undo</mat-icon>
                        </button>
                    </div>
                    <div>
                        <button mat-icon-button aria-label="menu">
                            <mat-icon>redo</mat-icon>
                        </button>
                    </div>
                </div>
                <button id="panel-close" mat-button (click)="panelCloseBtn()">Close</button>
            </div>
        </div>
    </mat-expansion-panel>
</form>
